.webpage3 {
  color: black;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, Roboto;
  position: relative;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
}

.select {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}

.submitButton {
  position: absolute;
  top: 475px;
  right: 20px;
  height: 35px;
  width: 80px;
  background-color: #0067B8;
  color: white;
  font-family: Roboto, Arial;
  font-size: 15px; 
  border: black solid 1px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgba(5, 5, 5, 0.5);
}

.limit {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: rgb(43, 43, 43);
}

.checkboxes {
  font-size: 20px;
  max-height: 300px;
  overflow-y: auto;
  border: 2px solid #0067B8;
  border-radius: 10px;
  padding: 10px 0;
  background-color: #f4f8fc;
  margin-left: 10px;
  width: 520px;
}

input[type="checkbox"] {
  transform: scale(1.4);
  margin-right: 12px;
  cursor: pointer;
  accent-color: #0067B8;
}

label {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

label:hover {
  background-color: #e6f0fa;
}