.webpage2 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Roboto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 450px;
  position: relative;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.age {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.numberInput {
  font-size: 15px;
  width: 200px;
  margin-left: 30px;
}

.gender {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 30px;  
  margin-left: 30px;
}

.selectGender {
  font-size: 15px;
  width: 200px;
  margin-left: 30px;
}

.continue {
  position: absolute;
  bottom: 45px;
  right: 20px;
  height: 35px;
  width: 80px;
  background-color: #0067B8;
  color: white;
  font-family: Roboto, Arial;
  font-size: 15px; 
  border: black solid 1px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgba(5, 5, 5, 0.5);
}

.message {
  position: absolute;
  bottom: 20px;
  right:20px;
  color: red;
  font-size: 15px;
  font-weight: bold;
}